<% provide(:title, "Edit My Account") %>
<div class="row">
  <h2 class="col-xs-12 text-primary">Edit My Account </h2>
  <div class="clearfix"></div>
  <hr>
  <div class="clearfix"></div>

  <!-- <%= resource_name.to_s.humanize %> -->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  <div class="col-xs-6">
    <div class="form-group">
      <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control", placeholder: 'First Name' %>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control", placeholder: 'Last Name' %>
    </div>
  </div>
  <div class="col-xs-3"> 
    <div class="form-group">
      <%= f.label :facebook %>
        <%= f.text_field :facebook, class: "form-control", placeholder: 'Facebook' %>
      </div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
    <%= f.label :behance %>
      <%= f.text_field :behance, class: "form-control", placeholder: 'Behance' %></div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
    <%= f.label :dribbble %>
      <%= f.text_field :dribbble, class: "form-control", placeholder: 'Dribbble' %></div>
  </div>

  <div class="col-xs-3">
    <div class="form-group">
    <%= f.label :twitter %>
      <%= f.text_field :twitter, class: "form-control", placeholder: 'Twitter' %></div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
    <%= f.label :about_me %>
      <%= f.text_area :about_me, class: "form-control", placeholder: 'About Me', rows: '5' %></div>
  </div>

  <div class="col-xs-4">
    <div class="form-group">
    <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: 'Email' %></div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="col-xs-12">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="clearfix"></div>
  <div class="col-xs-4">
    <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password' %></div>
  </div>

  <div class="col-xs-4">
    <div class="form-group">
    <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: 'Re-type Password' %></div>
  </div>
  <div class="clearfix"></div>
  <hr>
  <div class="col-xs-6">
    <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: 'Current Password' %></div>
  </div>
  <div class="clearfix"></div>
    <div class="actions">
      <div class="col-xs-4"><%= f.submit "Update", class: "btn btn-success" %></div>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <hr>
  <h4 class="col-xs-12"><stong>Cancel my account</stong></h4>

  <div class="col-xs-11"><p>Unhappy? </p>  
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
  </div>
  <div class="col-xs-1">
    <%= link_to "Back", :back, class: "btn btn-default" %>
  </div>
</div>