<% provide(:title, "Profile" ) %>

<h1>My Profile</h1>
<p><%= @user.first_name %><%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.facebook %></p>
<p><%= @user.dribbble %></p> 
<p><%= @user.behance %></p> 
<p><%= @user.twitter %></p> 
<p><%= @user.about_me %></p> 
