<div class="row">
  <div class="col-xs-offset-4 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="text-primary">Log in</h2>
        <div class="clearfix"></div>
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.email_field :email, autofocus: true, hide_label: true, placeholder: 'Email' %>
          <%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: 'Password' %>
          <% if devise_mapping.rememberable? -%>
             <%= f.check_box :remember_me %>
          <% end -%>
          <%= f.submit "Log In", class: "btn btn-success" %>
        <% end %>
        <div class="clearfix"></div>
        <hr>
        <div class="clearfix"></div>
        <div class="well"><%= render "devise/shared/links" %></div>
      </div>
    </div>
  </div>
</div>